<% provide(:title, 'Home') %>

<div class="container">
  <div class="main-table">
  <% if signed_in? %>
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
    <%= render 'shared/feed' %>
    <% else %>
    <h1>Capybara Studio</h1>
    <%= link_to "Sign up now!", sign_up_path , class: 'btn' %>
  <% end %>
  </div>
</div>